<html>
<%- include header.ejs %>

<body>
    <%- include adminNav.ejs %>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Title</h4>
            </div>
            <div class="panel-body">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="title">Enter text</label>
                        <input type="text" class="form-control" id="title" name="title" value="<%= items.title %>">
                        <input type="button" value="submit" class="form-control">
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Description</h4>
            </div>
            <div class="panel-body">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="description">Enter text</label>
                        <input type="text" class="form-control" id="description" name="description" value="<%= items.description %>">
                        <input type="button" value="submit" class="form-control">
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Awards</h4>
            </div>
            <div class="panel-body">
                <form action="" method="POST">
                    <table class="table table-hover">
                        <tr>
                            <th>Year</th>
                            <th>Title</th>
                            <th>Description</th>
                        </tr>
                        <% for(var x=0;x<items.awards.length;x++) { %>
                        <tr>
                            <td><%= items.awards[x].year %></td>
                            <td><%= items.awards[x].title %></td>
                            <td><%= items.awards[x].description %></td>
                            <td><input id="admin-award-<%= x %>" type="button" class="adminEditField btn btn-primary" value="edit"></td>
                            <script src="/js/handlers/awards.js"></script>
                            <script>
                                awardHandler("<%= "admin-award-"+x %>");
                            </script>
                        </tr>
                        <% } %>
                    </table>
                    <!-- Is hidden at first  -->
                    <div class="form-group" id="editAwardsForm" style="display: none">
                        <label for="awards-title">Title</label>
                        <input type="text" class="form-control" id="awards-title" name="awards-title">
                        <label for="awards-description">Description</label>
                        <input type="text" class="form-control" id="awards-description" name="awards-description">
                        <label for="awards-year">Year</label>
                        <input type="text" class="form-control" id="awards-year" name="awards-year">
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Volunteering</h4>
            </div>
            <div class="panel-body">
                <form action="" method="POST">
                    
                    <table class="table table-hover">
                        <tr>
                            <th>Location</th>
                            <th>Start</th>
                            <th>end</th>
                            <th>Association</th>
                            <th>Position</th>
                        </tr>
                        <% for(var x=0;x<items.volunteering.length;x++) { %>
                        <tr>
                            <td><%= items.volunteering[x].location %></td>
                            <td><%= items.volunteering[x].start %></td>
                            <td><%= items.volunteering[x].end %></td>
                            <td><%= items.volunteering[x].association %></td>
                            <td><%= items.volunteering[x].position %></td>
                            <td><input id="admin-volunteering-<%= x %>" type="button" class="adminEditField btn btn-primary" value="edit"></td>
                            <script src="/js/handlers/volunteering.js"></script>
                            <script>
                                volunteerHandler("<%= "admin-volunteering-"+x %>");
                            </script>
                        </tr>
                        <% } %>
                    </table>
                    
                    <!-- Is hidden at first  -->
                    <div class="form-group" id="editVolunteeringForm" style="display: none">
                        <label for="volunteering-location">Location</label>
                        <input type="text" class="form-control" id="volunteering-location" name="volunteering-location">
                        <label for="volunteering-start">Start</label>
                        <input type="text" class="form-control" id="volunteering-start" name="volunteering-start">
                        <label for="volunteering-end">End</label>
                        <input type="text" class="form-control" id="volunteering-end" name="volunteering-end">
                        <label for="volunteering-association">Association</label>
                        <input type="text" class="form-control" id="volunteering-association" name="volunteering-association">
                        <label for="volunteering-position">Position</label>
                        <input type="text" class="form-control" id="volunteering-position" name="volunteering-position">
                        
                        <!----- figure how this bullet point thing for the description -->
                        <label for="volunteering-description">Description</label>
                        <input type="text" class="form-control" id="volunteering-description" name="volunteering-description">
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Experience</h4>
            </div>
            <div class="panel-body">
                <form action="" method="POST">
                    <table class="table table-hover">
                        <tr>
                            <th>Location</th>
                            <th>Start</th>
                            <th>end</th>
                            <th>Association</th>
                            <th>Position</th>
                        </tr>
                        <% for(var x=0;x<items.experience.length;x++) { %>
                        <tr>
                            <td><%= items.experience[x].location %></td>
                            <td><%= items.experience[x].start %></td>
                            <td><%= items.experience[x].end %></td>
                            <td><%= items.experience[x].association %></td>
                            <td><%= items.experience[x].position %></td>
                            <td><input id="admin-leadership-<%= x %>" type="button" class="adminEditField btn btn-primary" value="edit"></td>
                            <script src="/js/handlers/leadership.js"></script>
                            <script>
                                leadershipHandler("<%= "admin-leadership-"+x %>");
                            </script>
                        </tr>
                        <% } %>
                    </table>
                    
                    <!-- Is hidden at first  -->
                    <div class="form-group" id="editLeadershipForm" style="display: none">
                        <label for="leadership-location">Location</label>
                        <input type="text" class="form-control" id="leadership-location" name="leadership-location">
                        <label for="leadership-location">Start</label>
                        <input type="text" class="form-control" id="leadership-start" name="leadership-start">
                        <label for="leadership-location">End</label>
                        <input type="text" class="form-control" id="leadership-end" name="leadership-end">
                        <label for="leadership-location">Association</label>
                        <input type="text" class="form-control" id="leadership-association" name="leadership-association">
                        <label for="leadership-location">Position</label>
                        <input type="text" class="form-control" id="leadership-position" name="leadership-position">
                        
                        <!----- figure how this bullet point thing for the description -->
                        <label for="leadership-description">Description</label>
                        <input type="text" class="form-control" id="leadership-description" name="leadership-description">
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Skills</h4>
            </div>
            <div class="panel-body">
                <form action="" method="POST">
                    <table class="table table-hover">
                        <tr>
                            <th>Title</th>
                            <th>Items</th>
                        </tr>
                        <% for(var x=0;x<items.skillsAndInterests.length;x++) { %>
                        <tr>
                            <td><%= items.skillsAndInterests[x].title %></td>
                            <td><%= items.skillsAndInterests[x].items.toString() %></td>
                            <td><input id="admin-skills-<%= x %>" type="button" class="adminEditField btn btn-primary" value="edit"></td>
                        </tr>
                        <script src="/js/handlers/skills.js"></script>
                        <script>
                            skillsHandler("<%= "admin-skills-"+x %>");
                        </script>
                        <% } %>
                    </table>
                    
                    <!-- Is hidden at first  -->
                    <div class="form-group" id="editSkillsForm" style="display: none">
                        <label for="skills-title">Title</label>
                        <input type="text" class="form-control" id="skills-title" name="skills-title">
                        <label for="skills-items">Items</label>
                        <input type="text" class="form-control" id="skills-items" name="skills-items">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>