<html>
<%- include header.ejs %>

<body>
    <%- include adminNav.ejs %>
    <div class="container" style="padding: 30px;">
        <h1>Editing blog number <%= num %></h1>
        <div class="form-group">
            <form action="" method="POST">
                <label for="editBlogTitle">Edit Title</label>
                <input class="form-control" type="text" id="editBlogTitle" name="title"
                       value="<%= items.title %>">
                <label for="">Edit Date</label>
                <input class="form-control" type="text" id="editBlogDate" name="date"
                       value="<%= items.date %>">
                <label for="">Edit Description</label>
                <input class="form-control" type="text" id="editBlogDescription" name="description"
                       value="<%= items.description %>">
                <label for="">Edit Content</label>
                <textarea class="form-control" rows="20" id="editBlogContent" name="content"><%= items.content %></textarea>
                <input type="hidden" value="<%= num %>" name="index" />
                <input type="submit" class="form-control btn btn-primary" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>