<html>
<%- include header.ejs %>

<body>
    <%- include adminNav.ejs %>
    <div class="container">
        <form action="" method="POST">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Title</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="title">Enter text</label>
                        <input type="text" class="form-control" id="title" name="title" value="<%= items.title %>">
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Description</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="description">Enter text</label>
                        <input type="text" class="form-control" id="description" name="description" value="<%= items.description %>">
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Awards</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Year</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                        <% for(var x=0;x<items.awards.length;x++) { %>
                        <tr>
                            <td><%= items.awards[x].id %></td>
                            <td><%= items.awards[x].year %></td>
                            <td><%= items.awards[x].title %></td>
                            <td><%= items.awards[x].description %></td>
                            <td><input id="admin-award-<%= items.awards[x].id %>" type="button" class="adminEditField btn btn-primary" value="edit"></td>
                            <script src="/js/handlers/awards.js"></script>
                            <script>
                                awardHandler("<%= "admin-award-"+items.awards[x].id %>");
                            </script>
                        </tr>
                        <% } %>
                    </table>
                    <!-- Is hidden at first  -->
                    <div class="form-group" id="editAwardsForm" >
                        <label for="awards-id">ID</label>
                        <input type="text" class="form-control" id="awards-id" name="awards-id" >
                        <label for="awards-title">Title</label>
                        <input type="text" class="form-control" id="awards-title" name="awards-title">
                        <label for="awards-description">Description</label>
                        <input type="text" class="form-control" id="awards-description" name="awards-description">
                        <label for="awards-year">Year</label>
                        <input type="text" class="form-control" id="awards-year" name="awards-year">
                    </div>
                </div>
            </div>
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Experience</h4>
            </div>
            <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Location</th>
                            <th>Start</th>
                            <th>end</th>
                            <th>Association</th>
                            <th>Position</th>
                            <th>Description</th>
                            <th>Icon</th>
                            <th></th>
                        </tr>
                        <% for(var x=0;x<items.experience.length;x++) { %>
                        <tr>
                            <td><%= items.experience[x].id %></td>
                            <td><%= items.experience[x].location %></td>
                            <td><%= items.experience[x].start %></td>
                            <td><%= items.experience[x].end %></td>
                            <td><%= items.experience[x].association %></td>
                            <td><%= items.experience[x].position %></td>
                            <td><%= items.experience[x].description %></td>
                            <td><%= items.experience[x].icon %></td>
                            <td><input id="admin-leadership-<%= items.experience[x].id %>" type="button" class="adminEditField btn btn-primary" value="edit"></td>
                            <script src="/js/handlers/experience.js"></script>
                            <script>
                                leadershipHandler("<%= "admin-leadership-"+items.experience[x].id %>");
                            </script>
                        </tr>
                        <% } %>
                    </table>
                    
                    <!-- Is hidden at first  -->
                    <div class="form-group" id="editLeadershipForm" >
                        <label for="experience-id">ID</label>
                        <input type="text" class="form-control" id="experience-id" name="experience-id" >
                        <label for="experience-icon">Icon</label>
                        <input type="text" class="form-control" id="experience-icon" name="experience-icon">
                        <label for="leadership-location">Location</label>
                        <input type="text" class="form-control" id="leadership-location" name="leadership-location">
                        <label for="leadership-location">Start</label>
                        <input type="text" class="form-control" id="leadership-start" name="leadership-start">
                        <label for="leadership-location">End</label>
                        <input type="text" class="form-control" id="leadership-end" name="leadership-end">
                        <label for="leadership-location">Association</label>
                        <input type="text" class="form-control" id="leadership-association" name="leadership-association">
                        <label for="leadership-location">Position</label>
                        <input type="text" class="form-control" id="leadership-position" name="leadership-position">
                        
                        <!----- figure how this bullet point thing for the description -->
                        <label for="leadership-description">Description</label>
                        <input type="text" class="form-control" id="leadership-description" name="leadership-description">
                    </div>
            </div>
        </div>
            
            <!-- The skills section -->
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Skills</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Level</th>
                            <th></th>
                        </tr>
                        <% for(var x=0;x<items.skills.length;x++) { %>
                        <tr>
                            <td><%= items.skills[x].id %></td>
                            <td><%= items.skills[x].title %></td>
                            <td><%= items.skills[x].level %></td>
                            <td><input id="admin-skills-<%= items.skills[x].id %>" type="button" class="adminEditField btn btn-primary" value="edit"></td>
                        </tr>
                        <script src="/js/handlers/skills.js"></script>
                        <script>
                            skillsHandler("<%= "admin-skills-"+items.skills[x].id %>");
                        </script>
                        <% } %>
                    </table>

                    <!-- Is hidden at first  -->
                    <div class="form-group" id="editFunSkillsForm" >
                        <label for="skills-title">ID</label>
                        <input type="text" class="form-control" id="skills-id" name="skills-id" >
                        <label for="skills-title">Title</label>
                        <input type="text" class="form-control" id="skills-title" name="skills-title">
                        <label for="skills-items">Level</label>
                        <input type="text" class="form-control" id="skills-level" name="skills-level">
                    </div>
                </div>
            </div>
            
            <!-- The fun skills section -->
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Fun Skills</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Level</th>
                            <th></th>
                        </tr>
                        <% for(var x=0;x<items.funSkills.length;x++) { %>
                        <tr>
                            <td><%= items.funSkills[x].id %></td>
                            <td><%= items.funSkills[x].title %></td>
                            <td><%= items.funSkills[x].level %></td>
                            <td><input id="admin-funSkills-<%= items.funSkills[x].id %>" type="button" class="adminEditField btn btn-primary" value="edit"></td>
                        </tr>
                        <script src="/js/handlers/funSkills.js"></script>
                        <script>
                            skillsHandler("<%= "admin-funSkills-"+items.funSkills[x].id %>");
                        </script>
                        <% } %>
                    </table>

                    <!-- Is hidden at first  -->
                    <div class="form-group" id="editSkillsForm" >
                        <label for="skills-title">ID</label>
                        <input type="text" class="form-control" id="funSkills-id" name="funSkills-id" >
                        <label for="skills-title">Title</label>
                        <input type="text" class="form-control" id="funSkills-title" name="funSkills-title">
                        <label for="skills-items">Level</label>
                        <input type="text" class="form-control" id="funSkills-level" name="funSkills-level">
                    </div>
                </div>
            </div>
            
            <!-- Education section -->
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Education</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>School</th>
                            <th>Program</th>
                            <th>Year</th>
                            <th>GPA</th>
                            <th></th>
                        </tr>
                        <% for(var x=0;x<items.education.length;x++) { %>
                        <tr>
                            <td><%= items.education[x].id %></td>
                            <td><%= items.education[x].school %></td>
                            <td><%= items.education[x].program %></td>
                            <td><%= items.education[x].year %></td>
                            <td><%= items.education[x].gpa %></td>
                            <td><input id="admin-education-<%= items.funSkills[x].id %>" type="button" class="adminEditField btn btn-primary" value="edit"></td>
                        </tr>
                        <script src="/js/handlers/education.js"></script>
                        <script>
                            skillsHandler("<%= "admin-education-"+items.funSkills[x].id %>");
                        </script>
                        <% } %>
                    </table>

                    <!-- Is hidden at first  -->
                    <div class="form-group" id="editEducationForm" >
                        <label for="skills-title">ID</label>
                        <input type="text" class="form-control" id="education-id" name="education-id" >
                        <label for="skills-title">School</label>
                        <input type="text" class="form-control" id="education-school" name="education-school">
                        <label for="skills-title">Program</label>
                        <input type="text" class="form-control" id="education-program" name="education-program">
                        <label for="skills-title">Year</label>
                        <input type="text" class="form-control" id="education-year" name="education-year">
                        <label for="skills-title">GPA</label>
                        <input type="text" class="form-control" id="education-gpa" name="education-gpa">
                    </div>
                </div>
            </div>
            <input type="submit" value="submit" class="btn btn-success form-control">
        </form>
    </div>
</body>
</html>