<html>
<%- include header.ejs %>

<body>
    <%- include nav.ejs %>
    <ul>
        <li><%= items.title %></li>
        <li><%= items.date %></li>
        <li><%= items.description %></li>
        <li><%= items.content %></li>
        <li><%= items.picture %></li>
    </ul>
</body>
</html>