<html>
<%- include header.ejs %>
    
<body>
    <%- include nav.ejs %>
    
    <div id="welcome" class="row row-1">
        <div id="heart-div" class="heart-rate">
            <canvas id="myCanvas"></canvas>
            <div class="fade-in"></div>
            <div class="fade-out"></div>
            <div id="welcomeMessage">
                <p id="wm1">I AM</p>
                <p>MICHAEL LEE</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="about" class="row row-1">
            <h2 class="text-center"><span class="section-title-white"><span class="fas fa-info-circle title-icon"></span>ABOUT</span></h2>
            <div id="about-content">
                <%= items.description %>
            </div>
        </div>
        
        <div id="experience" class="row row-1">
            <h2 class="text-center"><span class="section-title-black"><span class="fas fa-briefcase title-icon"></span>EXPERIENCE</span></h2>
            
            <% for(var x=0;x<items.experience.length;x++) { %>
                
                <div class="exp-cell <%= items.experience[x].width %>">
                    <div class="exp-box">
                        <div class="exp-content">
                            <div class="exp-pic <%= items.experience[x].icon %>"></div>
                            <div class="exp-content-text"><%= items.experience[x].description %></div>
                        </div>
                        <div class="exp-title">
                            <h3><%= items.experience[x].association %></h3>
                            <p><%= items.experience[x].position %></p>
                            <p><%= items.experience[x].start +" - "+ items.experience[x].end %></p>
                        </div>
                    </div>
                </div>
            
            <% } %>
        
        </div>
        
        <div id="awards" class="row row-1">
            <h2 class="text-center"><span class="section-title-white"><span class="fas fa-trophy title-icon "></span>AWARDS</span></h2>
            <br/><br/>
            <% for(var x=0;x<items.awards.length;x++) { %>
                <div class="award-row">
                    <div class="award-img">
                        <span class="fas fa-trophy"></span>
                    </div>
                    <div class="award-content">
                        <h3><%= items.awards[x].title %></h3>
                        <p class="award-date"><%= items.awards[x].year %></p>
                        <p class="award-info"><%= items.awards[x].description %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    
    
    
    <%- include footer.ejs %>
</body>    
</html>